.center {
	text-align: center;
	margin: auto;
}

.abs-center {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

html, body {
	height: 100%;
    overflow: hidden;
}

body {
	font-family: 'Hind', sans-serif;
	color: black;
    background-color: #abddff;
	display: block;
}

.ui {
    position: absolute;
    z-index: 1000;
}

.debug-text {
	font-family: 'Consolas', monospace;
    background-color: #cccccc99;
}

.uibody-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(50vw, 50vh);
}

.sky {
    background: linear-gradient(180deg, rgba(132,205,255,1) 0%, rgba(182,221,247,1) 50%, rgba(0,0,0,1) 64%);
}

.test1 {
    width: 100%;
    height: 100%;
    background-color: #569943;
}

.test2 {
    width: 100px;
    height: 100px;
    background-color: red;
}