.center {
	text-align: center;
	margin: auto;
}

.abs-center {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

html, body {
	height: 100%;
    overflow: hidden;
}

body {
	font-family: 'Hind', sans-serif;
	color: black;
	display: block;
}

.code {
	font-family: 'Consolas', monospace;
}

.form {
	width: 70%;
}

.debug-text {
    position: absolute;
    z-index: 1000;
	font-family: 'Consolas', monospace;
    background-color: #cccccc99;
}

.uibody-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(50vw, 50vh);
}

.test1 {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.test2 {
    width: 100px;
    height: 100px;
    background-color: red;
}