@import url('https://fonts.googleapis.com/css2?family=Hind&family=Source+Code+Pro:wght@600&display=swap');
@import "/css/prologue.css";

.center {
	text-align: center;
	margin: auto;
}

.abs-center {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.level-intro {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: none;
    opacity: 100%;
    transition: opacity 750ms;
    z-index: 1100;
    text-align: center;
    pointer-events: none;
}

.level-intro-name {
    position: relative;
    top: calc(40vh - 1em);
}

.level-intro-subname {
    position: relative;
    top: calc(40vh);
}

.dialog-box {
    position: absolute;
    bottom: 2%;
    left: 10%;
    padding: 5px 10px;
    background-color: #232425dd;
    color: white;
    border-color: #17c1ffaa;
    border-width: 5px;
    border-style: solid;
    transform: translateY(30vh);
    transition: transform 400ms cubic-bezier(0.17, 0.67, 0.66, 1.28);
}

.dialog-box-title {
    bottom: calc(2% + max(18%, calc(2em + 10px)) - 5px);
    width: unset;
    height: max(5%, calc(2em + 10px));
    border-radius: 5px 5px 0px 0px;
}

.dialog-box-content {
    width: 80%;
    height: max(18%, calc(2em + 10px));
    overflow: hidden visible;
    border-radius: 0px 5px 5px 5px;
}

.uibody-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(50vw, 50vh);
}

.sky {
    background: linear-gradient(180deg, rgba(132,205,255,1) 0%, rgba(182,221,247,1) 50%, rgba(0,0,0,1) 64%);
}

.test1 {
    width: 100%;
    height: 100%;
    background-color: #569943;
}

.test2 {
    width: 100px;
    height: 100px;
    background-color: red;
}